<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="juggler15" class="md.utm.springidol.juggler.Juggler">
		<constructor-arg value="15" />
	</bean>

	<bean id="juggler" class="md.utm.springidol.juggler.Juggler" />

	<bean id="sonnet29" class="md.utm.springidol.juggler.Sonnet29" />
	<bean id="poeticJuggler" class="md.utm.springidol.juggler.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29" />
	</bean>
	<bean id="kenny" class="md.utm.springidol.instrumental.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="age" value="37" />
	</bean>
	<bean id="kennyInstrument" class="md.utm.springidol.instrumental.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="instrument" ref="saxophone" />
	</bean>
	<bean id='saxophone' class="md.utm.springidol.instrumental.Saxophone" />
</beans>
